{
    "env": {
        "browser": true,
        "commonjs": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 5
    },
    "rules": {
        "quotes": [
            "error",
            "double"
        ],
        "no-unused-vars": ["error", { "vars": "all", "args": "none", "ignoreRestSiblings": false }]
    }
}