# Folders
bower_components/
build/
coverage/
node_modules/
skins/

# Logs
logs
*.log
npm-debug.log*

# Lock files
yarn.lock

# Mac OS X
.DS_Store

# Sublime
*.sublime-workspace

# VSCode
.vscode

# Yarn
.yarnclean

# Cache
.eslintcache
.stylelintcache
