{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-prettier"
    ],
    "rules": {
        "no-extra-semicolons": null,
        "no-descending-specificity": null
    }
}
