{
    "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
    "plugins": ["stylelint-no-unsupported-browser-features"],
    "rules": {
        "plugin/no-unsupported-browser-features": [
            true,
            {
                "ignore": ["outline", "css3-cursors", "css-initial-value", "multicolumn", "css-appearance", "flexbox", "user-select-none", "css-sticky"],
                "severity": "warning"
            }
        ]
    }
}
