body.sg {
    padding: 24px;
}

/* Styleguide kss overrides */

.kss-style,
.kss-style h1,
.kss-style h2,
.kss-style h3,
.kss-style h4,
.kss-style h5,
.kss-style h6,
.kss-style pre,
.kss-style code,
.kss-style kbd,
.kss-style samp {
    font-family: 'Roboto', sans-serif;
}

.kss-overview img {
    max-width: 400px;
}

.kss-description {
    margin-bottom: 8px;
}

.kss-description code {
    background-color: #f9f9f9;
    border-radius: 0.25rem;
    color: #bd4147;
    font-size: 90%;
    padding: 0.2rem 0.4rem;
}

#kss-node .kss-modifier__wrapper {
    border-color: #e0e0e0;
}

#kss-node .kss-modifier__heading {
    background-color: #f9f9f9;
    border-bottom-color: #e0e0e0;
}

#kss-node .kss-style.kss-markup {
    border-top: none;
    border-color: #e0e0e0;
    margin: 0 0 24px;
}

#kss-node .kss-style.kss-markup summary {
    padding: 8px 10px;
    margin: 0;
}

#kss-node .kss-style.kss-markup summary:focus {
    outline: none;
}

#kss-node .kss-markup[open] summary {
    border-bottom-color: #e0e0e0;
}

.kss-style.kss-markup pre {
    background-color: #f9f9f9;
    overflow: auto;
    padding: 8px;
}

#kss-node .kss-style.kss-markup pre ol.linenums {
    padding: 0;
}

#kss-node .kss-style.kss-markup pre ol.linenums li {
    background-color: #f9f9f9;
    border: none;
}

#kss-node .kss-toolbar {
    display: none;
    background-color: #f9f9f9;
    border: none;
    float: right;
    line-height: 1;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    #kss-node .kss-toolbar {
        display: inline-block;
    }
}

#kss-node .kss-toolbar__tooltip {
    right: -10px;
    left: auto;
}

#kss-node .kss-toolbar__tooltip::before,
#kss-node .kss-toolbar__tooltip::after {
    right: 15px;
    left: auto;
}

/* Styleguide custom */

[sg-Hero] {
    padding: 24px;
    box-sizing: border-box;
    text-align: center;
    margin-left: -30px;
    margin-right: -20px;
}

[sg-Hero] ul,
[sg-Hero] ol {
    margin: 0;
    padding: 0;
}

[sg-Hero-Header] img {
    height: 172px;
}

[sg-Hero] header,
[sg-Hero] > div,
[sg-Hero] footer {
    max-width: 768px;
    margin: 2em auto;
}

[sg-mock-icon] {
    width: 24px;
    height: 24px;
    background-color: #616161;
}

[sg-mock-icon~="padded"] {
    margin: 12px;
}

[sg-mock-button-icon] {
    background-repeat: no-repeat;
    height: 24px;
    margin: auto;
    min-height: 24px;
    min-width: 24px;
    vertical-align: middle;
    width: 24px;
}

section.sg-block.sg-section-variables code {
    color: #f44336;
}

section.sg-block.sg-section-hooks code {
    color: #50b2ce;
}

.sg.pure {
    color: #8156a7 !important;
}

.sg.amcss {
    color: #008ed5 !important;
}

.sg.material {
    color: #e04f4a !important;
}

/* PAM styleguide helpers */

[sg-Stack] > div {
    margin-bottom: 4px;
}

[sg-Stack] > div:last-child {
    margin: 0;
}

[sg-Height~="150"] {
    height: 150px;
}

[pam-Unit-Test] {
    background-color: #008ed5;
    color: #fff;
    text-align: center;
    padding: 16px;
    margin: 1px;
    box-sizing: border-box;
}

[pam-Unit-Test] [pam-Unit-Test] {
    background-color: #22b5ff;
}

[pam-Unit-Test~="stretch"] {
    margin: 0 1px;
    height: 100%;
}

[pam-Menu-Scrollable-Test] {
    width: 200px;
    height: 150px;
    border: 1px solid #666;
}

[pam-Skin-Test] {
    padding: 16px;
    margin: 1px;
    text-align: center;
}

[pam-Skin-Test~="text"] {
    background-color: #f9f9f9;
}

[pam-Skin-Test~="text:light"] {
    background-color: #444;
}

[pam-Tile] h3 {
    margin: 0;
}

[pam-Tile] h4 {
    margin: 0;
}

[pam-Typography-Text] {
    margin: 12px 0;
}

#kssref-alert-hooks .kss-style code,
#kssref-buttons-hooks .kss-style code,
#kssref-divider-hooks .kss-style code,
#kssref-forms-hooks .kss-style code,
#kssref-grids-hooks .kss-style code,
#kssref-lists-hooks .kss-style code,
#kssref-menus-hooks .kss-style code,
#kssref-tables-hooks .kss-style code,
#kssref-tags-hooks .kss-style code,
#kssref-typography-hooks .kss-style code {
    background-color: #e0e0e0;
    border-radius: 0.25em;
    color: #555;
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

/* Deprecated badge styles */

#icon-input {
    font-style: italic;
}

#icon-input::after {
    content: "deprecated";
    background-color: #f44336;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    padding: 2px 4px;
    margin-left: 8px;
    border-radius: 4px;
    position: relative;
    bottom: 3px;
}

/* Experimental badge styles */

#floating-label::after {
    content: "experimental";
    background-color: #4caf50;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    padding: 2px 4px;
    margin-left: 8px;
    border-radius: 4px;
    position: relative;
    bottom: 3px;
}
