{
    "env": {
        "browser": true,
        "commonjs": false,
        "node": false
    },
    "extends": [
        "eslint:recommended",
        "prettier",
        "plugin:compat/recommended"
    ],
}