{
    "env": {
        "browser": true,
        "commonjs": false,
        "node": false
    },
    "extends": [
        "eslint:recommended",
        "prettier",
        "plugin:compat/recommended"
    ],
    "rules": {
        "compat/compat": "warn",
        "no-console": ["error", { "allow": ["warn", "error"] }]
    }
}
