//  Base
// ==========================================================================

// Getting started
//
// Welcome to the CSS library with attitude!
//
// Weight: 0
//
// Style guide: getting-started

// Introduction
//
// PAM is a light and modular CSS library. Based and inspired by other great CSS stuff.
// * Pure AMCSS semantics.
// * LESS hooks for customization.
// * Light weight: **8.8KB minified + gzip**.
//
// Weight: 0
//
// Style guide: getting-started.introduction

// Installation
//
// Available options:
//
// - [Download from GitHub.][master-download-link]
// - Clone: `git clone https://github.com/mrgreentech/pam.git`
// - Bower: `bower install pam`
//
// [master-download-link]: https://github.com/mrgreentech/pam/archive/master.zip
//
// Weight: 0
//
// Style guide: getting-started.installation

// Use
//
// Ok, so that was easy to install. Now lets use it. To get started use one of the the raw css files (pam.css or pam.min.css) in the `release` folder.
//
// Weight: 0
//
// Style guide: getting-started.use

// LESS
//
//  PAM can be integrated in projects that use LESS as preprocessor. Import the main less file (`pam.less`) in the `release/less` folder to your projects main LESS file, and then your good to go.
//
// Weight: 0
//
// Style guide: getting-started.use.less

// Build
//
// **Prerequisites**: Node and npm
//
// - First clone PAM: `git clone https://github.com/mrgreentech/pam.git`
// - Then `cd` to the PAM folder and install node modules: `npm i`
// - And finally run the build: `npm run build`
//
// Weight: 0
//
// Style guide: getting-started.use.build

html {
    font-family: @font-family;
    font-size: @font-size-base;
}

// Loaders
//
// Loaders communicate that somethings is happening right now.
// They can be used on almost all elements `div`, `span` etc.
// Use modifiers or a specific type to adopt the loader to your context.
//
// Markup:
//    <div loader="{{modifier_class}}"></div>
//
// spinner - This is a spinning loader, can be used in buttons etc.
// pulse - A alternative to spinner for a centered generic loader.
//
// Weight: 6
//
// Style guide: loaders

[loader~="spinner"] {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 0.25rem solid rgba(0, 0, 0, 0.2);
    border-top-color: #3a3a3a;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

[loader~="pulse"] {
    position: relative;
    width: 6px;
    height: 24px;
    background: #3a3a3a;
    animation: pulse 750ms infinite;
    animation-delay: 250ms;

    &::before {
        content: '';
        position: absolute;
        display: block;
        height: 16px;
        width: 6px;
        background: #3a3a3a;
        top: 50%;
        transform: translateY(-50%);
        animation: pulse 750ms infinite;
        left: -12px;
    }

    &::after {
        content: '';
        position: absolute;
        display: block;
        height: 16px;
        width: 6px;
        background: #3a3a3a;
        top: 50%;
        transform: translateY(-50%);
        animation: pulse 750ms infinite;
        left: 12px;
        animation-delay: 0.5s;
    }
}

@keyframes pulse {
    50% {
        background: #ddd;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
