/*
 Getting started

 Lets learn the basics of PAM. To do that, first download and install PAM. After that you may want to checkout how to compile the source of PAM and how to create a custom skin.

 Weight: 0

 Style guide: getting-started
*/

/*
 Installation

 To download and install PAM the following options are available.

 - Download source from [GitHub.][master-download-link]
 - Clone the repo to get all source files: `git clone https:github.com/mrgreentech/pam.git`
 - Install with a package manager, PAM supports npm (`npm install pam`) and Bower (`bower install pam`)

Alright, that was easy. Now choose one of the compiled css files (`pam.css` or `pam.min.css`) in the *dist* folder and add it to the *head* section of your index file and yourt ready to go.

```
<!-- PAM CSS -->
<head>
    <link rel="stylesheet" href="[your-path-to-pam]" />
<head/>
```

 [master-download-link]: https:github.com/mrgreentech/pam/archive/master.zip

 Weight: 0

 Style guide: getting-started.installation
*/

/*
 Compile source

To build the source on your own make sure you have node and npm installed and then use the shell commands below.

 **Prerequisites**: `node.js` and `npm`

```shell
$ git clone https://github.com/mrgreentech/pam.git
$ cd pam
$ npm i
$ npm run build
```

 Weight: 1

 Style guide: getting-started.compile-source
*/

// LESS
//
//  PAM can be integrated in projects that use LESS. Import the main less file (`pam.less`) in the `dist/less` folder to your projects main LESS file and that's it.
//
// Weight: 2
//
// Style guide: getting-started.less

// ==================================================================
//  Base
// ==================================================================

// Base
//
// This is how the universal box sizing with Inheritance looks like.
// This `border-box` reset is the most flexibility reset to date.
// For more reading, check out the [box-sizing]
// article over att css-tricks.
//
// ```
// html {
//     box-sizing: border-box;
// }
//
// *,
// *::before,
// *::after {
//     box-sizing: inherit;
// }
// ```
//
// [box-sizing]: https://css-tricks.com/box-sizing/
//
// Weight: 1
//
// Style guide: base

html {
    box-sizing: border-box;
    font-family: @font-family;
    font-size: @font-size-base;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
