// Cards
//
// Cards are surfaces that display content and actions on a single topic.
// Elements, like text and images, should be placed on them in a way that
// clearly indicates intention.
//
// Markup:
// <div pam-Card="">
//     <figure pam-Card-Media>
//         <img src="https://www.fillmurray.com/350/200" pam-Card-Image="" />
//     </figure>
//     <header pam-Card-Header="">
//         <h1 pam-Typography="title">Card supreme</h1>
//         <h2 pam-Typography="subheading">By Chuck Norris</h2>
//     </header>
//     <section pam-Card-Content>Here goes some text!</section>
//     <section pam-Card-Actions>
//         <div>
//             <button pam-Button="info flat small">Tomte</button>
//             <button pam-Button="info flat small">Orvar</button>
//         </div>
//     </section>
// </div>
//
// Weight: 6
//
// Style guide: cards

//  Variables
// ==================================================================

@card-background: @skin-white;
@card-border-radius: @border-radius-base;
@card-padding: @space-16;
@card-section-spacing: @space-16;
@card-shadow: @shadow-raised;
@card-shadow-raised: @shadow-raised-high;

@card-primary-background: @skin-primary-dark;
@card-primary-color: @skin-text;
@card-primary-shadow: @shadow-raised-high;

// ==================================================================
//  Button
// ==================================================================

[pam-Card] {
    display: flex;
    flex-direction: column;
    background: @card-background;
    border-radius: @card-border-radius;
    box-shadow: @card-shadow;
    max-width: 350px;
    cursor: pointer;

    &:hover {
        box-shadow: @card-shadow-raised;
    }

    [pam-Card-Section] {
        &:not(:first-of-type) {
            margin-top: @card-section-spacing;
        }

        .hook-card-section();
    }

    [pam-Card-Section~="fill"] {
        margin: 0 -@card-padding;

        &:first-child {
            border-top-left-radius: @card-border-radius;
            border-top-right-radius: @card-border-radius;
            margin-top: -@card-padding;
            overflow: hidden;
        }
        &:last-child {
            border-bottom-left-radius: @card-border-radius;
            border-bottom-right-radius: @card-border-radius;
            margin-bottom: -@card-padding;
            overflow: hidden;
        }

        .hook-card-section-fill();
    }

    [pam-Card-Media] {
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        border-radius: 4px 4px 0 0;
        height: 56.25%;

        &::before {
            // 16:9 format
            content: "";
            // display: block;
            margin-top: 56.25%;
        }

        [pam-Card-Image] {
            max-width: 100%;
            border-radius: inherit;
        }

        [pam-Card-Media-Content] {
            display: inline-flex;
        }
    }

    [pam-Card-Header] {
        padding: @card-padding;
    }
    [pam-Card-Content] {
        padding: 0 @card-padding @card-padding / 2 @card-padding;
    }

    [pam-Card-Actions] {
        padding: @card-padding / 2;
    }

    .hook-card();
}

//  Variations
// ==================================================================

[pam-Card~="primary"] {
    background: @card-primary-background;
    color: @card-primary-color;

    .hook-card-primary();
}

[pam-Card~="raised"] {
    box-shadow: @card-shadow-raised;

    .hook-card-raised();
}
[pam-Card~="raised"][pam-Card~="primary"] {
    box-shadow: @card-primary-shadow;

    .hook-card-primary-raised();
}

[pam-Card~="flat"] {
    border: 1px solid darken(@card-background, 10%);
}

// Hooks
// ==================================================================

// Hooks
//
// `.hook-card`
// `.hook-card-raised`
// `.hook-card-primary`
// `.hook-card-primary-raised`
// `.hook-card-section`
// `.hook-card-section-fill`
//
// Weight: 1
//
// Style guide: cards.hooks

/* stylelint-disable block-no-empty */
.hook-card() {
}
.hook-card-raised() {
}
.hook-card-primary() {
}
.hook-card-primary-raised() {
}
.hook-card-section() {
}
.hook-card-section-fill() {
}
/* stylelint-enable */
