// Skin
//
// PAMs skin system helps in the implementation of a color theme for your brand or style.
// The primary and secondary colors and variations creates a skin which has accessible
// text and straight forward UI surfaces. The skin system follows [material designs
// color system](https://material.io/design/color/the-color-system.html). For more
// info head over to material design and learn how to tthink about the color system.
//
// <div pam-Grid pam-Grid-Control="space-x">
//     <div pam-Unit="1-1 medium:1-2">
//         <div pam-Grid>
//             <div pam-Unit="1-1">
//                 <div grid-block="large" pam-skin="primary">Primary</div>
//             </div>
//             <div pam-Unit="1-2">
//                 <div grid-block pam-skin="primary:light">Primary light</div>
//             </div>
//             <div pam-Unit="1-2">
//                 <div grid-block pam-skin="primary:dark">Primary dark</div>
//             </div>
//         </div>
//     </div>
//     <div pam-Unit="1-1 medium:1-2">
//         <div pam-Grid>
//             <div pam-Unit="1-1">
//                 <div grid-block="large" pam-skin="secondary">Secondary</div>
//             </div>
//             <div pam-Unit="1-2">
//                 <div grid-block pam-skin="secondary:light">Secondary light</div>
//             </div>
//             <div pam-Unit="1-2">
//                 <div grid-block pam-skin="secondary:dark">Secondary dark</div>
//             </div>
//         </div>
//     </div>
// </div>
//
// <div grid-space></div>
//
// <div pam-Grid>
//             <div pam-Unit="1-3">
//                 <div grid-block pam-skin="background">Background</div>
//             </div>
//             <div pam-Unit="1-3">
//                 <div grid-block pam-skin="surface">Surface</div>
//             </div>
//             <div pam-Unit="1-3">
//                 <div grid-block pam-skin="error">Error</div>
//             </div>
// </div>
//
// <div grid-space></div>
//
// <div pam-Grid>
//     <div pam-Unit="1-1 medium:1-1">
//         <div pam-Grid>
//             <div pam-Unit="1-2">
//                 <div grid-block pam-skin="on:primary white-bg">On primary</div>
//             </div>
//             <div pam-Unit="1-2">
//                 <div grid-block pam-skin="on:secondary white-bg">On secondary</div>
//             </div>
//             <div pam-Unit="1-1">
//                 <div pam-Grid>
//                     <div pam-Unit="1-3">
//                         <div grid-block pam-skin="on:background white-bg">On Background</div>
//                     </div>
//                     <div pam-Unit="1-3">
//                         <div grid-block pam-skin="on:surface white:bg">On Surface</div>
//                     </div>
//                     <div pam-Unit="1-3">
//                         <div grid-block pam-skin="on:error black:bg">On Error</div>
//                     </div>
//                 </div>
//             </div>
//         </div>
//     </div>
// </div>
//
// Weight: 5
//
// Style guide: skin

//  Variables
// ==================================================================

// @skin-primary-new: @skin-primary;
// @skin-primary-light: @skin-primary;
// @skin-primary-dark: @skin-primary;

// @skin-secondary: @skin-primary;
// @skin-secondary-light: @skin-primary;
// @skin-secondary-dark: @skin-primary;

// @skin-background: @skin-primary;
// @skin-surface: @skin-primary;
// @skin-error: @skin-primary;

@skin-on-primary: @skin-black;
@skin-on-secondary: @skin-black;
@skin-on-background: @skin-black;
@skin-on-surface: @skin-black;
@skin-on-error: @skin-white;

// @skin-primary-bg: @skin-primary;
// @skin-secondary-bg: @skin-primary;

// @skin-text-primary-on-light: @skin-primary;
// @skin-text-secondary-on-light: @skin-primary;
// @skin-text-hint-on-light: @skin-primary;
// @skin-text-disabled-on-light: @skin-primary;
// @skin-text-icon-on-light: @skin-primary;

// @skin-text-primary-on-dark: @skin-primary;
// @skin-text-secondary-on-dark: @skin-primary;
// @skin-text-hint-on-dark: @skin-primary;
// @skin-text-disabled-on-dark: @skin-primary;
// @skin-text-icon-on-dark: @skin-primary;

// Info colors
// @skin-info: #50b2ce;
// @skin-success: #4caf50;
// @skin-warn: #e9ac5e;
// @skin-danger: #f44336;

// Skin black and white
// @skin-black: #000;
// @skin-white: #fff;

// ==================================================================
//  Skin
// ==================================================================

// Primary
//
// Colors used to represent primary and complementary interface
// elements.
//
// Markup:
// <div pam-Grid>
//     <div pam-Unit="1-1 medium:1-3">
//         <div pam-Skin-Test pam-skin="primary:light">@skin-primary-light</div>
//     </div>
//     <div pam-Unit="1-1 medium:1-3">
//         <div pam-Skin-Test pam-skin="primary">@skin-primary</div>
//     </div>
//     <div pam-Unit="1-1 medium:1-3">
//         <div pam-Skin-Test pam-skin="primary:dark">@skin-primary-dark</div>
//     </div>
//     <div pam-Unit="1-1 medium:1-3">
//         <div pam-Skin-Test pam-skin="accent">@skin-accent</div>
//     </div>
//     <div pam-Unit="1-1 medium:1-3">
//         <div pam-Skin-Test pam-skin="feature">@skin-feature</div>
//     </div>
//     <div pam-Unit="1-1 medium:1-3">
//         <div pam-Skin-Test pam-skin="divider">@skin-divider</div>
//     </div>
// </div>
//
// Weight: 1
//
// Style guide: skin.primary

[pam-Skin~="primary"] {
    background-color: @skin-primary;
}

[pam-Skin~="primary:light"] {
    background-color: @skin-primary-light;
}

[pam-Skin~="primary:dark"] {
    background-color: @skin-primary-dark;
}

[pam-Skin~="secondary"] {
    background-color: @skin-secondary;
}

[pam-Skin~="secondary:light"] {
    background-color: @skin-secondary-light;
}

[pam-Skin~="secondary:dark"] {
    background-color: @skin-secondary-dark;
}

[pam-Skin~="background"] {
    background-color: @skin-background;
}

[pam-Skin~="surface"] {
    background-color: @skin-surface;
}

[pam-Skin~="error"] {
    background-color: @skin-error;
}

[pam-Skin~="on:primary"] {
    color: @skin-on-primary;
}

//  On colors
// ==================================================================

[pam-Skin~="on:secondary"] {
    color: @skin-on-secondary;
}

[pam-Skin~="on:background"] {
    color: @skin-on-background;
}

[pam-Skin~="on:surface"] {
    color: @skin-on-surface;
}

[pam-Skin~="on:error"] {
    color: @skin-on-error;
}

[pam-Skin~="white:bg"] {
    background-color: @skin-white;
}

[pam-Skin~="black:bg"] {
    background-color: @skin-black;
}

[pam-Skin~="accent"] {
    background-color: @skin-accent;
}

[pam-Skin~="feature"] {
    background-color: @skin-feature;
}

[pam-Skin~="divider"] {
    background-color: @skin-divider;
}

//  Information
// ==================================================================

// Information
//
// Colors used to represent information interface elements.
//
// Markup:
// <div pam-Grid>
//     <div pam-Unit="1-1 medium:1-4">
//         <div pam-Skin-Test pam-skin="info">@skin-info</div>
//     </div>
//     <div pam-Unit="1-1 medium:1-4">
//         <div pam-Skin-Test pam-skin="success">@skin-success</div>
//     </div>
//     <div pam-Unit="1-1 medium:1-4">
//         <div pam-Skin-Test pam-skin="warn">@skin-warn</div>
//     </div>
//     <div pam-Unit="1-1 medium:1-4">
//         <div pam-Skin-Test pam-skin="danger">@skin-danger</div>
//     </div>
// </div>
//
// Weight: 3
//
// Style guide: skin.information

[pam-Skin~="info"] {
    background-color: @skin-info;
}

[pam-Skin~="success"] {
    background-color: @skin-success;
}

[pam-Skin~="warn"] {
    background-color: @skin-warn;
}

[pam-Skin~="danger"] {
    background-color: @skin-danger;
}

//  Greyscales
// ==================================================================

// Greyscales
//
// Base greyscales colors.
//
// Markup:
// <div pam-Grid>
//     <div pam-Unit="1-1 medium:1-5">
//         <div pam-Skin-Test pam-skin="lighter">@skin-lighter</div>
//     </div>
//     <div pam-Unit="1-1 medium:1-5">
//         <div pam-Skin-Test pam-skin="light">@skin-light</div>
//     </div>
//     <div pam-Unit="1-1 medium:1-5">
//         <div pam-Skin-Test pam-skin="hint">@skin-hint</div>
//     </div>
//     <div pam-Unit="1-1 medium:1-5">
//         <div pam-Skin-Test pam-skin="dark">@skin-dark</div>
//     </div>
//     <div pam-Unit="1-1 medium:1-5">
//         <div pam-Skin-Test pam-skin="darker text">@skin-darker</div>
//     </div>
// </div>
//
// Weight: 4
//
// Style guide: skin.greyscales

[pam-Skin~="light"] {
    background-color: @skin-light;
}

[pam-Skin~="lighter"] {
    background-color: @skin-lighter;
}

[pam-Skin~="hint"] {
    background-color: @skin-hint;
}

[pam-Skin~="dark"] {
    background-color: @skin-dark;
}

[pam-Skin~="darker"] {
    background-color: @skin-darker;
}

//  Text
// ==================================================================

// Text
//
// Colors used to represent text interface elements
//
// Markup:
// <div pam-Grid>
//     <div pam-Unit="1-1 medium:1-4">
//         <div pam-Skin-Test="text:light" pam-skin="text">@skin-text</div>
//     </div>
//     <div pam-Unit="1-1 medium:1-4">
//         <div pam-Skin-Test="text:light" pam-skin="text text:hint">@skin-text-hint</div>
//     </div>
//     <div pam-Unit="1-1 medium:1-4">
//         <div pam-Skin-Test="text:light" pam-skin="text text:light">@skin-text-light</div>
//     </div>
//     <div pam-Unit="1-1 medium:1-4">
//         <div pam-Skin-Test="text:light" pam-skin="text text:lighter">@skin-text-lighter</div>
//     </div>
// </div>
// <div pam-Grid>
//     <div pam-Unit="1-1 medium:1-4">
//         <div pam-Skin-Test="text" pam-skin="text:primary">@skin-text-primary</div>
//     </div>
//     <div pam-Unit="1-1 medium:1-4">
//         <div pam-Skin-Test="text" pam-skin="text:secondary">@skin-text-secondary</div>
//     </div>
//     <div pam-Unit="1-1 medium:1-4">
//         <div pam-Skin-Test="text" pam-skin="text:darker">@skin-text-darker</div>
//     </div>
//     <div pam-Unit="1-1 medium:1-4">
//         <div pam-Skin-Test="text" pam-skin="text:dark">@skin-dark</div>
//     </div>
// </div>
//
// Weight: 5
//
// Style guide: skin.text

[pam-Skin~="text"] {
    color: @skin-text;
}

[pam-Skin~="text:primary"] {
    color: @skin-text-primary;
}

[pam-Skin~="text:secondary"] {
    color: @skin-text-secondary;
}

[pam-Skin~="text:darker"] {
    color: @skin-text-darker;
}

[pam-Skin~="text:dark"] {
    color: @skin-text-dark;
}

[pam-Skin~="text:hint"] {
    color: @skin-text-hint;
}

[pam-Skin~="text:light"] {
    color: @skin-text-light;
}

[pam-Skin~="text:lighter"] {
    color: @skin-text-lighter;
}
