// Typography
//
// There are 11 contextual typography styles to choose from which can be mixed to suit a large number of text layouts. These styles mimics the [material design typography styles](https://material.google.com/style/typography.html). This means that the default typeface is **Roboto** and the script type is English and English-like (Latin, Greek, and Cyrillic).
//
// Markup:
// <p pam-typography="h1" pam-Typography-Text>H1</p>
// <p pam-typography="h2" pam-Typography-Text>H2</p>
// <p pam-typography="h3" pam-Typography-Text>H3</p>
// <p pam-typography="h4" pam-Typography-Text>H4</p>
// <p pam-typography="h5" pam-Typography-Text>H5</p>
// <p pam-typography="h6" pam-Typography-Text>H6</p>
// <p pam-typography="subtitle-1" pam-Typography-Text>Subtitle 1</p>
// <p pam-typography="subtitle-2" pam-Typography-Text>Subtitle 2</p>
// <p pam-typography="body-1" pam-Typography-Text>Body 1</p>
// <p pam-typography="body-2" pam-Typography-Text>Body 2</p>
// <p pam-typography="button" pam-Typography-Text>Button</p>
// <p pam-typography="caption" pam-Typography-Text>Caption</p>
// <p pam-typography="overline" pam-Typography-Text>Overline</p>
//
// Weight: 3
//
// Style guide: typography

//  Variables
// ==================================================================

@typography-font-family: @font-family;

@typography-h1-font-size: @font-size-colossal;
@typography-h1-font-weight: @font-weight-normal;
@typography-h1-line-height: @line-height-base;

@typography-h2-font-size: @font-size-enormous;
@typography-h2-font-weight: @font-weight-normal;
@typography-h2-line-height: @line-height-base;

@typography-h3-font-size: @font-size-xxxlarge;
@typography-h3-font-weight: @font-weight-normal;
@typography-h3-line-height: @line-height-base;

@typography-h4-font-size: @font-size-xxlarge;
@typography-h4-font-weight: @font-weight-light;
@typography-h4-line-height: @line-height-base;

@typography-h5-font-size: @font-size-xlarge;
@typography-h5-font-weight: @font-weight-light;
@typography-h5-line-height: @line-height-base;

@typography-h6-font-size: @font-size-larger;
@typography-h6-font-weight: @font-weight-light;
@typography-h6-line-height: @line-height-base;

@typography-subtitle-1-font-size: @font-size-large;
@typography-subtitle-1-font-weight: @font-weight-normal;
@typography-subtitle-1-line-height: @line-height-secondary;

@typography-subtitle-2-font-size: @font-size-medium;
@typography-subtitle-2-font-weight: @font-weight-medium;
@typography-subtitle-2-line-height: @line-height-secondary;

@typography-body-1-font-size: @font-size-medium;
@typography-body-1-font-weight: @font-weight-normal;
@typography-body-1-line-height: @line-height-secondary;

@typography-body-2-font-size: @font-size-medium;
@typography-body-2-font-weight: @font-weight-medium;
@typography-body-2-line-height: @line-height-secondary;

@typography-button-font-size: @font-size-medium;
@typography-button-font-weight: @font-weight-medium;
@typography-button-line-height: @line-height-secondary;

@typography-caption-font-size: @font-size-xsmall;
@typography-caption-font-weight: @font-weight-normal;
@typography-caption-line-height: @line-height-secondary;

@typography-overline-font-size: @font-size-xxsmall;
@typography-overline-font-weight: @font-weight-normal;
@typography-overline-line-height: @line-height-secondary;

// ==================================================================
//  Typography
// ==================================================================

[pam-typography] {
    font-family: @typography-font-family;

    .hook-typography;
}

//  Headlines
// ==================================================================

[pam-typography~="h1"] {
    font-size: @typography-h1-font-size;
    font-weight: @typography-h1-font-weight;
    line-height: @typography-h1-line-height;

    .hook-typography-h1;
}

[pam-typography~="h2"] {
    font-size: @typography-h2-font-size;
    font-weight: @typography-h2-font-weight;
    line-height: @typography-h2-line-height;

    .hook-typography-h2;
}

[pam-typography~="h3"] {
    font-size: @typography-h3-font-size;
    font-weight: @typography-h3-font-weight;
    line-height: @typography-h3-line-height;

    .hook-typography-h3;
}

[pam-typography~="h4"] {
    font-size: @typography-h4-font-size;
    font-weight: @typography-h4-font-weight;
    line-height: @typography-h4-line-height;

    .hook-typography-h4;
}

[pam-typography~="h5"] {
    font-size: @typography-h5-font-size;
    font-weight: @typography-h5-font-weight;
    line-height: @typography-h5-line-height;

    .hook-typography-h5;
}

[pam-typography~="h6"] {
    font-size: @typography-h6-font-size;
    font-weight: @typography-h6-font-weight;
    line-height: @typography-h6-line-height;

    .hook-typography-h6;
}

//  Subtitle 1
// ==================================================================

[pam-typography~="subtitle-1"] {
    font-size: @typography-subtitle-1-font-size;
    font-weight: @typography-subtitle-1-font-weight;
    line-height: @typography-subtitle-1-line-height;

    .hook-typography-subtitle-1;
}

//  Subtitle 2
// ==================================================================

[pam-typography~="subtitle-2"] {
    font-size: @typography-subtitle-2-font-size;
    font-weight: @typography-subtitle-2-font-weight;
    line-height: @typography-subtitle-2-line-height;

    .hook-typography-subtitle-2;
}

//  Body
// ==================================================================

[pam-typography~="body-1"] {
    font-size: @typography-body-1-font-size;
    font-weight: @typography-body-1-font-weight;
    line-height: @typography-body-1-line-height;

    .hook-typography-body-1;
}

[pam-typography~="body-2"] {
    font-size: @typography-body-2-font-size;
    font-weight: @typography-body-2-font-weight;
    line-height: @typography-body-2-line-height;

    .hook-typography-body-2;
}

//  Caption
// ==================================================================

[pam-typography~="caption"] {
    font-size: @typography-caption-font-size;
    font-weight: @typography-caption-font-weight;
    line-height: @typography-caption-line-height;

    .hook-typography-caption;
}

//  Button
// ==================================================================

[pam-typography~="button"] {
    font-size: @typography-button-font-size;
    font-weight: @typography-button-font-weight;
    line-height: @typography-button-line-height;

    .hook-typography-button;
}

//  Overline
// ==================================================================

[pam-typography~="overline"] {
    font-size: @typography-overline-font-size;
    font-weight: @typography-overline-font-weight;
    line-height: @typography-overline-line-height;

    .hook-typography-overline;
}

//  Alignment modifiers
// ==================================================================

// Alignment
//
// Use `pam-typography="[left|center|right]"` to align content of a
// typography block element.
//
// Markup:
// <p pam-typography="subtitle-1 left" pam-Typography-Text>subtitle-1 left</p>
// <p pam-typography="subtitle-1 center" pam-Typography-Text>subtitle-1 center</p>
// <p pam-typography="subtitle-1 right" pam-Typography-Text>subtitle-1 right</p>
//
// Weight: 1
//
// Style guide: typography.alignment

[pam-typography~="left"] {
    text-align: left;
}

[pam-typography~="center"] {
    text-align: center;
}

[pam-typography~="right"] {
    text-align: right;
}

//  Hooks
// ==================================================================

// Hooks
//
// `.hook-typography`
// `.hook-typography-body-1`
// `.hook-typography-body-2`
// `.hook-typography-button`
// `.hook-typography-caption`
// `.hook-typography-overline`
// `.hook-typography-h1`
// `.hook-typography-h2`
// `.hook-typography-h3`
// `.hook-typography-h4`
// `.hook-typography-h5`
// `.hook-typography-h6`
// `.hook-typography-subtitle-1`
// `.hook-typography-subtitle-2`
//
// Weight: 5
//
// Style guide: typography.hooks

/* stylelint-disable block-no-empty */
.hook-typography() {
}
.hook-typography-body-1() {
}
.hook-typography-body-2() {
}
.hook-typography-button() {
}
.hook-typography-caption() {
}
.hook-typography-overline() {
}
.hook-typography-h1() {
}
.hook-typography-h2() {
}
.hook-typography-h3() {
}
.hook-typography-h4() {
}
.hook-typography-h5() {
}
.hook-typography-h6() {
}
.hook-typography-subtitle-1() {
}
.hook-typography-subtitle-2() {
}
/* stylelint-enable */
