// ==================================================================
// Variables
// Global variables to use with components and configuration.
// ==================================================================

// Skin colors
// ==================================================================

// Primary - used to represent primary interface elements for a user
@skin-primary: #546e7a;
@skin-primary-light: lighten(@skin-primary, 15%);
@skin-primary-dark: darken(@skin-primary, 15%);

// Secondary - used to represent secondary interface elements for a user
@skin-secondary: #90a4ae;
@skin-secondary-light: lighten(@skin-secondary, 15%);
@skin-secondary-dark: darken(@skin-secondary, 15%);

@skin-background: @skin-gray-50;
@skin-surface: mix(@skin-white, @skin-primary, 95%);
@skin-error: #f44336;

// Info colors
// Warn - used to represent interface elements that the user should be careful of
// Text - used to represent colors of text and icons
// Success - used to represent a successful action
@skin-info: #50b2ce;
@skin-success: #36a73b;
@skin-warning: #e9ac5e;
@skin-warn: #e9ac5e;

@skin-on-primary: contrast(@skin-primary);
@skin-on-primary-light: contrast(@skin-primary-light);
@skin-on-primary-dark: contrast(@skin-primary-dark);

@skin-on-secondary: contrast(@skin-secondary);
@skin-on-secondary-light: contrast(@skin-secondary-light);
@skin-on-secondary-dark: contrast(@skin-secondary-dark);

@skin-on-background: contrast(@skin-background);
@skin-on-surface: contrast(@skin-surface);
@skin-on-error: contrast(@skin-error);

@skin-on-info: contrast(@skin-info);
@skin-on-success: contrast(@skin-success);
@skin-on-warning: contrast(@skin-warning);

// Background
@skin-primary-bg: @skin-white;
@skin-secondary-bg: @skin-black;

// Text
@skin-text-primary-on-background: @skin-black;
@skin-text-secondary-on-background: @skin-gray-700;
@skin-text-hint-on-background: @skin-gray-500;
@skin-text-disabled-on-background: @skin-gray-400;
@skin-text-icon-on-background: @skin-gray-700;

@skin-text-primary-on-light: @skin-black;
@skin-text-secondary-on-light: @skin-gray-700;
@skin-text-hint-on-light: @skin-gray-500;
@skin-text-disabled-on-light: @skin-gray-400;
@skin-text-icon-on-light: @skin-gray-700;

@skin-text-primary-on-dark: @skin-white;
@skin-text-secondary-on-dark: @skin-gray-200;
@skin-text-hint-on-dark: @skin-gray-400;
@skin-text-disabled-on-dark: @skin-gray-500;
@skin-text-icon-on-dark: @skin-white;

// Border
@skin-border-primary: @skin-gray-400;

// Skin black and white
@skin-black: #000;
@skin-white: #fff;

// Skin gray
@skin-gray-50: #fafafa;
@skin-gray-100: #f5f5f5;
@skin-gray-200: #eee;
@skin-gray-300: #e0e0e0;
@skin-gray-400: #bdbdbd;
@skin-gray-500: #9e9e9e;
@skin-gray-600: #757575;
@skin-gray-700: #616161;
@skin-gray-800: #424242;
@skin-gray-900: #212121;

// Spacing
// ==================================================================

@space-base: 4px; // Do not change this value
@space-8: @space-base * 2;
@space-12: @space-base * 3;
@space-16: @space-base * 4;
@space-20: @space-base * 5;
@space-24: @space-base * 6;
@space-28: @space-base * 7;
@space-32: @space-base * 8;
@space-36: @space-base * 9;
@space-40: @space-base * 10;
@space-44: @space-base * 11;
@space-48: @space-base * 12;
@space-52: @space-base * 13;
@space-56: @space-base * 14;
@space-60: @space-base * 15;
@space-64: @space-base * 16;
@space-68: @space-base * 17;
@space-72: @space-base * 18;
@space-76: @space-base * 19;
@space-80: @space-base * 20;
@space-84: @space-base * 21;
@space-88: @space-base * 22;
@space-92: @space-base * 23;
@space-96: @space-base * 24;
@space-100: @space-base * 25;
@space-104: @space-base * 26;

@space-x: @space-base;
@space-x1: @space-base;
@space-x2: @space-x * 2;
@space-x3: @space-x * 3;
@space-x4: @space-x * 4;
@space-x5: @space-x * 5;
@space-x6: @space-x * 6;
@space-x7: @space-x * 7;
@space-x8: @space-x * 8;
@space-x9: @space-x * 9;
@space-x10: @space-x * 10;

// Z-index topography
// ==================================================================
// Add element names to appropriate z-index list and use the .zindex mixin
// to retrive the z-index value for that element in the given context. If more
// z-index contexts are needed add another @z-index-* list for that context.
//
// Example
// @z-index-global: 'overlay', 'dialog', 'notification';
// .zindex('notification', @z-index-global);
// output: z-index: 3;

@z-index-global: "";

// Typography
// ==================================================================

@font-url: "https://fonts.googleapis.com/css?family=Roboto:300,400,500";
@font-family: "Roboto", sans-serif;

@font-size-base: @space-16;
@font-size-xxsmall: 0.625rem; // 10px
@font-size-xsmall: 0.75rem; // 12px
@font-size-small: 0.8125rem; // 13px
@font-size-medium: 0.875rem; // 14px
@font-size-large: 1rem; // 16px
@font-size-larger: 1.25rem; // 20px
@font-size-xlarge: 1.5rem; // 24px
@font-size-xxlarge: 2.125rem; // 34px
@font-size-xxxlarge: 3rem; // 48px
@font-size-enormous: 3.75rem; // 60px
@font-size-colossal: 6rem; // 96px

@font-size-h1: @font-size-colossal;
@font-size-h2: @font-size-enormous;
@font-size-h3: @font-size-xxxlarge;
@font-size-h4: @font-size-xxlarge;
@font-size-h5: @font-size-xlarge;
@font-size-h6: @font-size-larger;

@line-height-normal: normal;
@line-height-base: 1;
@line-height-secondary: 1.5;

@font-weight-light: 300;
@font-weight-normal: 400;
@font-weight-medium: 500;

// Breakpoints
// ==================================================================

@breakpoint-small: 480px;
@breakpoint-medium: 768px;
@breakpoint-large: 960px;
@breakpoint-xlarge: 1200px;

// Border
// ==================================================================

@border-radius-base: @space-base;
@border-radius-large: @space-8;
@border-radius-rounded: 50px;
@border-radius-small: 2px;

@border-style: solid;

@border-width-base: 1px;
@border-width-small: 2px;
@border-width-large: @space-base;

// Opacity
// ==================================================================

@opacity-less: 0.8;
@opacity-base: 0.6;
@opacity-more: 0.4;

// Transition
// ==================================================================

@transition-duration: 0.2s;
@transition-property: all;
@transition-timing: ease-in-out;
@transition-base: @transition-property @transition-duration @transition-timing;

// Shadows
// ==================================================================

@shadow-raised: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
@shadow-raised-high: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
@shadow-raised-higher: 0 8px 11px rgba(0, 0, 0, 0.16), 0 8px 11px rgba(0, 0, 0, 0.23);

// <VARIABLES|general.variables>
