// Opacity
//
// Trait for controlling element opacity.
//
// Markup:
// <div pam-opacity="{{modifier_class}}" pam-space="p:4" pam-skin="primary">
//     <span pam-skin="on:primary">Opacity {{modifier_class}}</span>
// </div>
//
// 100 - Set opacity to `1`. In other words it's solid.
// 80 - Set opacity to 0.8
// 60 - Set opacity to 0.6.
// 40 - Set opacity to 0.4
// 20 - Set opacity to 0.2
// 0 - Set opacity to 0. In other words it's transparent.
//
// Weight: 0
//
// Style guide: traits.opacity

// ==================================================================
//  Opacity
// ==================================================================

[pam-opacity~="100"] {
    opacity: @opacity-100;
}

[pam-opacity~="80"] {
    opacity: @opacity-80;
}

[pam-opacity~="60"] {
    opacity: @opacity-60;
}

[pam-opacity~="40"] {
    opacity: @opacity-40;
}

[pam-opacity~="20"] {
    opacity: @opacity-20;
}

[pam-opacity~="0"] {
    opacity: @opacity-0;
}
