// Size
//
// Trait for controlling element Width. For width use `w:{fraction}`
// or `w:full` to set an element to a percentage width.
//
// Markup:
// <div pam-space="p:4" pam-skin="bg:gray:100">
//     <div pam-flex pam-skin="primary:light" pam-space="mb:2">
//         <div pam-size="w:1-6" pam-text="center" pam-space="p:4" pam-skin="primary on:primary">
//             Width 1/6
//         </div>
//     </div>
//     <div pam-flex pam-skin="primary:light" pam-space="mb:2">
//         <div pam-size="w:1-5" pam-text="center" pam-space="p:4" pam-skin="primary on:primary">
//             Width 1/5
//         </div>
//     </div>
//     <div pam-flex pam-skin="primary:light" pam-space="mb:2">
//         <div pam-size="w:1-4" pam-text="center" pam-space="p:4" pam-skin="primary on:primary">
//             Width 1/4
//         </div>
//     </div>
//     <div pam-flex pam-skin="primary:light" pam-space="mb:2">
//         <div pam-size="w:1-3" pam-text="center" pam-space="p:4" pam-skin="primary on:primary">
//             Width 1/3
//         </div>
//     </div>
//     <div pam-flex pam-skin="primary:light" pam-space="mb:2">
//         <div pam-size="w:1-2" pam-text="center" pam-space="p:4" pam-skin="primary on:primary">
//             Width 1/2
//         </div>
//     </div>
//     <div pam-flex pam-skin="primary:light">
//         <div pam-size="w:full" pam-text="center" pam-space="p:4" pam-skin="primary on:primary">
//             Width full
//         </div>
//     </div>
// </div>
//
// Weight: 0
//
// Style guide: traits.size

// ==================================================================
//  Size
// ==================================================================

//  Width
// ==================================================================

[pam-size~="w:full"] {
    width: 100% !important;
}

[pam-size~="w:screen"] {
    width: 100vw !important;
}

[pam-size~="w:auto"] {
    width: auto !important;
}

// Fixed width
.widths(pam-size, width, 20, "w");

// Fraction width
.fractions(pam-size, "w:");
.fractions-responsive(pam-size, "w:");

//  Min-width
// ==================================================================

[pam-size~="min-w:0"] {
    min-width: 0 !important;
}

[pam-size~="min-w:full"] {
    min-width: 100% !important;
}

//  Max-width
// ==================================================================

[pam-size~="max-w:sm"] {
    max-width: @screen-sm !important;
}

[pam-size~="max-w:md"] {
    max-width: @screen-md !important;
}

[pam-size~="max-w:lg"] {
    max-width: @screen-lg !important;
}

[pam-size~="max-w:xl"] {
    max-width: @screen-xl !important;
}

[pam-size~="max-w:full"] {
    max-width: 100% !important;
}

//  Height
// ==================================================================

[pam-size~="h:auto"] {
    height: auto !important;
}

[pam-size~="h:px"] {
    height: 1px !important;
}

[pam-size~="h:full"] {
    height: 100% !important;
}

[pam-size~="h:screen"] {
    height: 100vh !important;
}
