// Size
//
// Control element dimensions `width`, `min-width`, `max-width`, `height`, `min-height`, `max-height` which follows the format pam-size="`{type}`:`{size | fractions}`".
//
//
// * selector: `pam-size`,
// * type: `w = width` | `h = height`
// * size: `0-20` | `full` | `auto`
// * fractions: `@fractions = 1, 2, 3, 4, 5, 6`
//
// Weight: 0
//
// Style guide: traits.size

// ==================================================================
//  Size
// ==================================================================

//  Width
// ==================================================================

[pam-size~="w:screen"] {
    width: 100vw !important;
}

[pam-size~="w:auto"] {
    width: auto !important;
}

// Fixed Width
//
// For controlling element fixed width use `w:{ number | px }`.
// Multiplier for `number` is 16.
//
// Markup:
// <div pam-flex="middle" pam-space="mb:2" pam-size="h:1">
//     <p pam-typography="body-2" pam-size="w:3" pam-space="mr:2">w:1</p>
//     <div pam-size="h:1 w:1" pam-skin="bg:gray:200"></div>
// </div>
// <div pam-flex="middle" pam-space="mb:2" pam-size="h:1">
//     <p pam-typography="body-2" pam-size="w:3" pam-space="mr:2">w:5</p>
//     <div pam-size="h:1 w:5" pam-skin="bg:gray:200"></div>
// </div>
// <div pam-flex="middle" pam-space="mb:2" pam-size="h:1">
//     <p pam-typography="body-2" pam-size="w:3" pam-space="mr:2">w:10</p>
//     <div pam-size="h:1 w:10" pam-skin="bg:gray:200"></div>
// </div>
// <div pam-flex="middle" pam-space="mb:2" pam-size="h:1">
//     <p pam-typography="body-2" pam-size="w:3" pam-space="mr:2">w:15</p>
//     <div pam-size="h:1 w:15" pam-skin="bg:gray:200"></div>
// </div>
// <div pam-flex="middle" pam-space="mb:2" pam-size="h:1">
//     <p pam-typography="body-2" pam-size="w:3" pam-space="mr:2">w:20</p>
//     <div pam-size="h:1 w:20" pam-skin="bg:gray:200"></div>
// </div>
//
// Weight: 0
//
// Style guide: traits.size.width-fixed

[pam-size~="w:px"] {
    width: 1px !important;
}

.sizes(pam-size, width, 20, "w") !important;

//  Fractions
// ==================================================================

// Fraction Width
//
// Trait for controlling element Width. For width use `w:{ fraction }`
// or `w:full` to set an element to a percentage width.
//
// Markup:
// <div pam-space="p:4" pam-skin="bg:gray:100">
//     <div pam-flex pam-skin="primary:light" pam-space="mb:2">
//         <div pam-size="w:1-6" pam-text="center" pam-space="py:3" pam-skin="primary on:primary">
//             Width 1/6
//         </div>
//     </div>
//     <div pam-flex pam-skin="primary:light" pam-space="mb:2">
//         <div pam-size="w:1-5" pam-text="center" pam-space="py:3" pam-skin="primary on:primary">
//             Width 1/5
//         </div>
//     </div>
//     <div pam-flex pam-skin="primary:light" pam-space="mb:2">
//         <div pam-size="w:1-4" pam-text="center" pam-space="py:3" pam-skin="primary on:primary">
//             Width 1/4
//         </div>
//     </div>
//     <div pam-flex pam-skin="primary:light" pam-space="mb:2">
//         <div pam-size="w:1-3" pam-text="center" pam-space="py:3" pam-skin="primary on:primary">
//             Width 1/3
//         </div>
//     </div>
//     <div pam-flex pam-skin="primary:light" pam-space="mb:2">
//         <div pam-size="w:1-2" pam-text="center" pam-space="py:3" pam-skin="primary on:primary">
//             Width 1/2
//         </div>
//     </div>
//     <div pam-flex pam-skin="primary:light">
//         <div pam-size="w:full" pam-text="center" pam-space="p:3" pam-skin="primary on:primary">
//             Width full
//         </div>
//     </div>
// </div>
//
// Weight: 0
//
// Style guide: traits.size.width-fractions

[pam-size~="w:full"] {
    width: 100% !important;
}

.fractions(pam-size, "w:");
.fractions-responsive(pam-size, "w:");

//  Min-width
// ==================================================================

[pam-size~="min-w:0"] {
    min-width: 0 !important;
}

[pam-size~="min-w:full"] {
    min-width: 100% !important;
}

//  Max-width
// ==================================================================

[pam-size~="max-w:sm"] {
    max-width: @screen-sm !important;
}

[pam-size~="max-w:md"] {
    max-width: @screen-md !important;
}

[pam-size~="max-w:lg"] {
    max-width: @screen-lg !important;
}

[pam-size~="max-w:xl"] {
    max-width: @screen-xl !important;
}

[pam-size~="max-w:full"] {
    max-width: 100% !important;
}

//  Height
// ==================================================================

[pam-size~="h:auto"] {
    height: auto !important;
}

[pam-size~="h:full"] {
    height: 100% !important;
}

[pam-size~="h:screen"] {
    height: 100vh !important;
}

[pam-size~="h:px"] {
    height: 1px !important;
}

// Fixed height
.sizes(pam-size, height, 20, "h") !important;
