// Visibility
//
// Hide or make an element invisible with `pam-visibility="hidden" / hidden`
// or `pam-visibility="invisible" / invisible`. These attributes is a exception for
// the use of **!important** to make sure they do not get overriden.
//
// Markup:
// <div pam-visibility="{{modifier_class}}">Now u see me!</div>
//
// hidden - Element is hidden and does not take up any space.
// invisible - Element is hidden and still takes up it's space.
//
// Weight: 4
//
// Style guide: traits.visibility

// ==================================================================
//  Visibility
// ==================================================================

[hidden],
[pam-hidden] {
    display: none !important;
}

[invisible],
[pam-visibility~="invisible"] {
    visibility: hidden !important;
}

[visible],
[pam-visibility~="visible"] {
    visibility: visible !important;
}

// [hidden],.uk-hidden {
//     display: none !important
// }

//  Responsive
// ==================================================================

@media screen and (max-width: @for-small-only) {
    [pam-hidden-on~="small"] {
        display: none !important;
    }
}

@media screen and (max-width: @for-medium-down) {
    [pam-hidden-on~="medium:down"] {
        display: none !important;
    }
}
