<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Divider Tests</title>

    <link rel="stylesheet" href="../../../../build/base.css">
    <link rel="stylesheet" href="../../../../build/divider.css">

    <style>
        body {
            margin: 0 16px;
        }
    </style>
</head>

<body>
    <h1>Divider Tests</h1>

    <h2>Default divider</h2>

    <h3>Title</h3>
    <div pam-Divider></div>
    <h4>Subtitle</h4>


</body>
</html>