<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Lists Tests</title>

    <link rel="stylesheet" href="../../../../build/base.css">
    <link rel="stylesheet" href="../../../../build/lists.css">

    <style>
        body {
            margin: 0 16px;
        }

        [pam-Item] {
            margin-bottom: 8px;
        }

        [pam-Tile] {
            border: 1px dashed #999;
        }
    </style>
</head>

<body>
    <h1>List Tests</h1>

    <p>Dashed borders are only for showing bounds.</p>

    <h2>One line list</h2>
    <div pam-List>
        <div pam-Item>
            <div pam-Item="content">
                <div pam-Tile="content">
                    <h3 pam-Subheader>Item content</h3>
                </div>
            </div>
        </div>

        <div pam-Item>
            <div pam-Item="content">
                <div pam-Tile="left">
                    <img src="http://placehold.it/48x48">
                </div>
                <div pam-Tile="content">
                    <h3 pam-Subheader>Item content</h3>
                </div>
            </div>
        </div>

        <div pam-Item>
            <div pam-Item="content">
                <div pam-Tile="left">
                    <img src="http://placehold.it/48x48">
                </div>
                <div pam-Tile="content">
                    <h3 pam-Subheader>Item content</h3>
                </div>
                <div pam-Tile="right">
                    <img src="http://placehold.it/24x24">
                </div>
            </div>
        </div>

        <div pam-Item>
            <div pam-Item="content">
                <div pam-Tile="left">
                    <img src="http://placehold.it/48x48">
                </div>
                <div pam-Tile="content">
                    <h3 pam-Subheader>Item content</h3>
                </div>
                <div pam-Tile="right">
                    <img src="http://placehold.it/24x24">
                </div>
            </div>
        </div>


    </div>


    <h2>Two line list</h2>

    <div pam-List>
        <div pam-Item>
            <div pam-Item="content">
                <div pam-Tile="content">
                    <h3 pam-Subheader>Item content</h3>
                    <h4 pam-Caption>Item content</h4>
                </div>
            </div>
        </div>

        <div pam-Item>
            <div pam-Item="content">
                <div pam-Tile="left">
                    <img src="http://placehold.it/48x48">
                </div>
                <div pam-Tile="content">
                    <h3 pam-Subheader>Item content</h3>
                    <h4 pam-Caption>Item content</h4>
                </div>
            </div>
        </div>

        <div pam-Item>
            <div pam-Item="content">
                <div pam-Tile="left">
                    <img src="http://placehold.it/48x48">
                </div>
                <div pam-Tile="content">
                    <h3 pam-Subheader>Item content</h3>
                    <h4 pam-Caption>Item content</h4>
                </div>
                <div pam-Tile="right">
                    <img src="http://placehold.it/24x24">
                </div>
            </div>
        </div>

    </div>


    <h2>Three line list</h2>

    <div pam-List>
        <div pam-Item>
            <div pam-Item="content">
                <div pam-Tile="content">
                    <h3 pam-Subheader>Item content</h3>
                    <h4 pam-Caption>Item content</h4>
                    <p pam-Caption>Item content</p>
                </div>
            </div>
        </div>

        <div pam-Item>
            <div pam-Item="content">
                <div pam-Tile="left">
                    <img src="http://placehold.it/48x48">
                </div>
                <div pam-Tile="content">
                    <h3 pam-Subheader>Item content</h3>
                    <h4 pam-Caption>Item content</h4>
                    <p pam-Caption>Item content</p>
                </div>
            </div>
        </div>

        <div pam-Item>
            <div pam-Item="content">
                <div pam-Tile="left" pam-Tile-Align="top">
                    <img src="http://placehold.it/48x48">
                </div>
                <div pam-Tile="content">
                    <h3 pam-Subheader>Item content</h3>
                    <h4 pam-Caption>Item content</h4>
                    <p pam-Caption>Item content</p>
                </div>
                <div pam-Tile="right" pam-Tile-Align="top">
                    <img src="http://placehold.it/24x24">
                </div>
            </div>
        </div>
    </div>

</body>
</html>