// List
//
// Lists are groups of text or image elements. Composed of primary
// and optional actions represented by icons and text.
//
// Weight: 12
//
// Style guide: list

// ==================================================================
//  List
// ==================================================================

// One line
//
// Single-line list items contain a maximum of one line of text.
//
// Markup:
// <ul pam-List pam-border="w:px">
//     <li pam-List-Item>List Item</li>
//     <li pam-List-Item>List Item</li>
//     <li pam-List-Item>List Item</li>
// </ul>
//
// Weight: 1
//
// Style guide: list.one-line

// Two line
//
// Two-line list items contain a maximum of two lines of text.
//
// Markup:
// <ul pam-List="two-lines" pam-border="w:px">
//     <li pam-List-Item>
//         <span  pam-List-Item-Text>
//             <span pam-List-Item-Text-Primary>List Item</span>
//             <span pam-List-Item-Text-Secondary>List Item</span>
//         </span>
//     </li>
//     <li pam-List-Item>
//         <span  pam-List-Item-Text>
//             <span pam-List-Item-Text-Primary>List Item</span>
//             <span pam-List-Item-Text-Secondary>List Item</span>
//         </span>
//     </li>
//     <li pam-List-Item>
//         <span  pam-List-Item-Text>
//             <span pam-List-Item-Text-Primary>List Item</span>
//             <span pam-List-Item-Text-Secondary>List Item</span>
//         </span>
//     </li>
// </ul>
//
// Weight: 2
//
// Style guide: list.two-line

// Leading Icon
//
// Use pam-List-Item-Primary to add a leading icon.
//
// Markup:
// <ul pam-List pam-border="w:px">
//     <li pam-List-Item>
//         <span pam-List-Item-Primary class="material-icons">cast</span>
//         List Item
//     </li>
//     <li pam-List-Item>
//         <span pam-List-Item-Primary class="material-icons">wifi</span>
//         List Item
//     </li>
//     <li pam-List-Item>
//         <span pam-List-Item-Primary class="material-icons">sync</span>
//         List Item
//     </li>
// </ul>
//
// Weight: 3
//
// Style guide: list.leading-icon

// Trailing Icon
//
// Use pam-List-Item-Secondary to add a trailing icon.
//
// Markup:
// <ul pam-List pam-border="w:px">
//     <li pam-List-Item>
//         List Item
//         <span pam-List-Item-Secondary class="material-icons">help</span>
//     </li>
//     <li pam-List-Item>
//         List Item
//         <span pam-List-Item-Secondary class="material-icons">help</span>
//     </li>
//     <li pam-List-Item>
//         List Item
//         <span pam-List-Item-Secondary class="material-icons">help</span>
//     </li>
// </ul>
//
// Weight: 4
//
// Style guide: list.trailing-icon

// Two Line with Icons
//
// Use pam-List-Item-Primary and pam-List-Item-Secondary to add leading
// and trailing icons.
//
// Markup:
// <ul pam-List="two-lines" pam-border="w:px">
//     <li pam-List-Item>
//         <span pam-List-Item-Primary class="material-icons">event</span>
//         <span pam-List-Item-Text>
//             <span pam-List-Item-Text-Primary>List Item</span>
//             <span pam-List-Item-Text-Secondary>List Item</span>
//         </span>
//         <span pam-List-Item-Secondary class="material-icons">help</span>
//     </li>
//     <li pam-List-Item>
//         <span pam-List-Item-Primary class="material-icons">event</span>
//         <span pam-List-Item-Text>
//             <span pam-List-Item-Text-Primary>List Item</span>
//             <span pam-List-Item-Text-Secondary>List Item</span>
//         </span>
//         <span pam-List-Item-Secondary class="material-icons">help</span>
//     </li>
//     <li pam-List-Item>
//         <span pam-List-Item-Primary class="material-icons">event</span>
//         <span pam-List-Item-Text>
//             <span pam-List-Item-Text-Primary>List Item</span>
//             <span pam-List-Item-Text-Secondary>List Item</span>
//         </span>
//         <span pam-List-Item-Secondary class="material-icons">help</span>
//     </li>
// </ul>
//
// Weight: 5
//
// Style guide: list.two-line-leading-trailing

[pam-List] {
    padding: @space-8 0;
    font-weight: 400;
    letter-spacing: 0.009375em;
    line-height: 1.5rem;
    margin: 0;
    list-style-type: none;
    color: @skin-text-primary-on-background;

    .hook-list;
}

[pam-List-Item] {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 48px;
    justify-content: flex-start;
    padding: 0 16px;
    position: relative;
    outline: 0;

    &:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }

    &:active,
    &:focus {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

[pam-List~="two-lines"] [pam-List-Item] {
    height: 72px;
}

[pam-List-Item-Text] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

[pam-List-Item-Primary] {
    align-items: center;
    color: @skin-text-secondary-on-background;
    display: inline-flex;
    fill: currentColor;
    flex-shrink: 0;
    height: 24px;
    justify-content: center;
    margin-left: 0;
    margin-right: 32px;
    width: 24px;
}

[pam-List-Item-Secondary] {
    color: @skin-text-secondary-on-background;
    margin-left: auto;
    margin-right: 0;
}

[pam-List-Item-Text-Primary] {
    display: block;
    line-height: normal;
}

[pam-List-Item-Text-Secondary] {
    color: @skin-text-secondary-on-background;
    display: block;
    font-size: 0.875rem;
    line-height: inherit;
}

// Hooks
// ========================================================================

// Hooks
//
// `.hook-list`
//
//  Weight: 10
//
// Style guide: list.hooks

/* stylelint-disable block-no-empty */
.hook-list() {
}
// .hook-list() {
// }
// .hook-tile() {
// }
// .hook-tile-content() {
// }
// .hook-tile-left() {
// }
// .hook-tile-right() {
// }
// .hook-tile-top() {
// }
/* stylelint-enable */
